---
import "../styles/fonts.css";
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>LEANIND Consulting</title>
    <link
      rel="preload"
      href="/fonts/arsenal-sc/ArsenalSC-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/dosis/Dosis-Regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/dosis/Dosis-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <!-- NO scripts aquí para GTM o Clarity -->
  </head>
  <body>
    <Header />
    <main><slot /></main>
    <Footer />

    <!-- Carga el script que inicia GTM y Clarity solo después del load -->
    <script type="module" src="/src/loadAnalytics.js"></script>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
